.homePage {
  padding: 30px 50px;
}

.homePage__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.homePage__item {
  list-style: circle;

  margin-bottom: 5px;
  font-size: 16px;
}
.homePage__link {
  color: black;
  text-decoration: none;
}
.homePage__link:hover {
  color: rgb(253, 125, 5);
}
