.navigation {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  border-bottom: 5px solid rgb(194, 190, 190);
  border-radius: 20px;
  box-shadow: 0px 7px 121px -9px #f3b083;
  background: linear-gradient(
    12deg,
    rgba(189, 118, 118, 0.719),
    rgba(248, 245, 245, 0) 30%
  );
}
.nav__link {
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 15px;
  font-weight: 770;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.nav__activeLink {
  color: rgb(191, 8, 228);
}
