button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.nav-link {
  color: black;
  margin-left: 20px;
}

.active_nav-link {
  color: rgb(0, 153, 255);
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 5px;
}

.details {
  display: flex;
}

.details-genre {
  display: flex;
}

.details-genre_paragraph {
  margin-left: 10px;
}

.details-info {
  margin-left: 20px;
}
